[submodule "ml_framework"]
	path = ml_framework
	url = git@github.com:fantine/ml-framework.git
[submodule "hptuning"]
	path = hptuning
	url = git@github.com:fantine/hptuning.git
[submodule "containers"]
	path = containers
	url = git@github.com:fantine/containers.git
