[submodule "gcp_io"]
	path = gcp_io
	url = git@gitlab.com:fantine/gcp-io.git
[submodule "trainer"]
	path = trainer
	url = git@gitlab.com:fantine/trainer.git
[submodule "hptuning"]
	path = hptuning
	url = git@gitlab.com:fantine/hptuning.git
[submodule "plot_utils"]
	path = plot_utils
	url = git@gitlab.com:fantine/plot-utils.git
